body{
    background-color:pink;
}
#box1
{
    width:500px;
    background-color: greenyellow;
    height:340px;
    border-radius:20px;
    border:3px solid green;
    margin:auto;
}
#box2
{
    width:400px;
    background-color: lightblue;
    height:250px;
    border-radius:20px;
    border:3px solid blueviolet;
    margin:auto;
    margin-top: 40px;
}
#box3
{
    width: 330px;
    background-color: yellow;
    height:180px;
    border-radius: 20px;
    border:3px solid yellowgreen;
    margin:auto;
    margin-top: 30px;
}
#box4
{
    font-size:40px;
    color:red;
    font-weight:bold;
    width:180px;
    margin:auto;
    margin-top: 60px;
}